.navbar-brand {
  color: aqua;
  background: 0;
  border: 0;
}

.nav-item {
  margin: 0 0.5rem;
  display: flex;
}

.material-symbols-outlined {
  color: aliceblue;
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 100;
  /* background-color: rgba(0, 255, 255, 0.6); */
}

.groups-area {
  background-color: #6f42c1;
  max-height: 200px;
}


.select-group-btn {
  width: 200;
  height: 120px;
  font-size: 11px;
}

.inner-frame {
  height: 70vh;
  border-radius: 2rem;
  min-height: 400px;

}

.time {
  background-color: #6f42c1;
  width: 45%;
  margin: 1rem;
}

.message-outgoing {
  background-color: #375a7f;
  color: white;
  border-radius: 0.25rem;
  width: 60%;
  margin: 1rem;
}


.chat-send {
  width: 100%;
  height: 3rem;
  margin-top: 3px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #6f42c1;
  border-width: 2px;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.chat-field {
  width: 100%;
  height: 3rem;
  border-style: solid;
  border-color: #6f42c1;
  border-width: 2px;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.translate-button {
  border-style: solid;
  border-color: #6f42c1;
  width: 2rem;
  height: 2rem;
  margin: 0.3rem;
}

.translate-icon {
  font-size: 1rem;
}
